.notfound {
    text-align: center;
    
    img {
        width: 70%;
    }

    h1 {
        @include font(2rem,$fontDetault,100);
        margin: 30px 0;
    }

    a {
        @include font(1rem,$fontDetault,300);
        padding: 0 30px;
    }

    &__height {
        height: 100vh;
    }

    &__search {
        position: relative;
        width: 50%;

        input {
            height: 40px;
            text-indent: 10px;
            border: 1px solid $blackColor;
            border-radius: 25px;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .fa-search {
        @include absolute(12px,16px);
    }
}
