-
    const nagiBlog = [
        {
            name: "Home",
            url: "/home"
        },

        {
            name: "Blog",
            url: "/blog"
        }
    ]

    const blogImg = ["images/1_Blog.jpg","images/9_Blog.png","images/2_Blog.jpg","images/3_Blog.jpg","images/4_Blog.jpg","images/5_Blog.jpg","images/6_Blog.jpg","images/7_Blog.jpg","images/8_Blog.jpg"]

    const nagiBlogDetail = [
        {
            name: "Home",
            url: "/home"
        },

        {
            name: "Blog detail",
            url: "/blogDetail"
        }
    ]

    const newBlog = ["images/1_Blog.jpg","images/9_Blog.png","images/2_Blog.jpg"]
    
    const dataBlog = {
        title: "NÀNG BÉO KHÔNG NGẠI DIỆN VÁY ÁO NỔI BẬT",
        content: "Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn.Trang phục họa tiết điện tử được nàng phối cùng chân váy kẻ caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển.Lối diện đồ hàng ngày đơn giản, khỏe khoắn của cô khi kết hợp chất liệu jean.Nữ blogger rực rỡ khi hòa trộn các gam đỏ, hồng, tím... một cách vui tươi, kèm theo các phụ kiện điệu đà."
    }