-
	const dataNaviCart = [
		{
			name: "Home",
			url: "/home"
		},

		{
			name: "Sản phẩm",
			url: "/product"
		},

		{
			name: "Trang sức",
			url: "/jewerly"
		}
	]

	const tableTr = ["ẢNH","TÊN SẢN PHẨM","GIÁ","SỐ LƯỢNG","TỔNG SỐ","XOÁ"]

	const cartPay = ["CẬP NHẬT","XOÁ","TIẾP TỤC MUA HÀNG"]

	let count = [0,354000]
