-
	const nagivaItem = [
		{
			name: "Home",
			url: "/home"
		},

		{
			name: "Sản phẩm",
			url: "/product"
		},

		{
			name: "Trang sức",
			url: "/jewelry"
		},

		{
			name: "Tay lắc",
			url: "/shake"
		}
	]

	const itemInfo = {
		title: "LẮC TAY TYFFANY XU HƯỚNG MỚI NHẤT",
		name: "TYFFANY MS 3201",
		price: "955.000đ",
		mainPrice: "999.000đ",
		content: "Không thể phủ nhận, thời trang và phong cách chính là “tuyên ngôn” không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những món đồ yêu thích.",
	}

	const itemTab = [
		{
			id: "sub-nav-1",
			name: "ĐẶC ĐIỂM NỔI BẬT",
			content: "nav-content-1"
		},

		{
			id: "sub-nav-2",
			name: "THÔNG TIN SẢN PHẨM",
			content: "nav-content-2"
		},

		{
			id: "sub-nav-3",
			name: "ĐÁNH GIÁ",
			content: "nav-content-3"
		}
	];

	const contentTab = [
		{
			head: "THE MARK OF A LEGEND",
			content: `Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập  ang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.`,
			urlImg: "images/productDetail-2.png"
		},

		{
			head: "THE MARK OF A LEGEND",
			content: "Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập  ang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.",
			urlImg: "images/8_Detail.jpg"
		},

		{
			head: "THE MARK OF A LEGEND",
			content: "Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập  ang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.",
			urlImg: "images/productDetail.png"
		},

		{
			head: "THE MARK OF A LEGEND",
			content: "Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập  ang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.",
			urlImg: "images/productDetail-3.png"
		}
	]

	const detailTitle = ["SẢN PHẨM BÁN CHẠY", "SẢN PHẨM MUA NHIỀU"]
