-
    const navigaListItem = [
        {
            name: "Home",
            url: "/home"
        },

        {
            name: "Trang sức",
            url: "/jewelry"
        }
    ];

    const dataCategory1 = ["MỸ PHẨM","Vòng tay","Nhẫn","Lắc chân","Phụ kiện khác","Giày Lười Giày Mọi"];

    const dataCategory2 = ["TRANG SỨC","Vòng tay","Nhẫn","Lắc chân","Phụ kiện khác","Giày Lười Giày Mọi"];

    const dataCategory3 = ["PHỤ KIỆN","Vòng tay","Nhẫn","Lắc chân","Phụ kiện khác","Giày Lười Giày Mọi"];

    const dataCategory4 = ["NƯỚC HOA","Vòng tay","Nhẫn","Lắc chân","Phụ kiện khác","Giày Lười Giày Mọi"];

    const tagProduct = ["Hoa tai","Son","Nước hoa","Giày","Sandal","Áo sơ mi","Nước hoa","Trẻ em","Thời trang nữ"]