-
	const dataPaAccount = [
	   {
		   name:"Home",
		   url: '/home'
	   },

	   {
		   name:"Tài khoản",
		   url:"/account"
	   }
	]

	const tableAccount = ["Order","Date","TÌNH TRẠNG THANH TOÁN","TỔNG","NỢ"]

	const tdTable = ["#1006","May 13, 2013","Đã thanh toán","305.000đ",0]

	const loginNagi = [
		{
			name:"Home",
			url: '/home'
		},

		{
			name:"Đăng nhập",
			url:"/login"
		}
	]

	const regisNagi = [
		{
			name:"Home",
			url: '/home'
		},

		{
			name:"Đăng ký",
			url:"/register"
		}
	]

	const aboutNagi = [
		{
			name:"Home",
			url: '/home'
		},

		{
			name:"Về chúng tôi",
			url:"/about"
		}
	]

		const contactNagi = [
		{
			name:"Home",
			url: '/home'
		},

		{
			name:"Liên hệ",
			url:"/contact"
		}
	]